<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/header") %>
</head>
<body class="bg-gray-50 flex flex-col min-h-screen">
  <%- include("partials/navbar") %>

  
  <main class="container mx-auto py-12 flex-grow">
    <h1 class="text-4xl font-bold mb-6 px-6">Welcome, <%= user.name %> </h1>
    <div class="grid md:grid-cols-3 gap-8">
      <div class="bg-white p-6 shadow rounded-lg hover:shadow-xl transition">
        <h3 class="text-xl font-semibold mb-2">Take a Career Quiz</h3>
        <p class="text-gray-600 mb-4">Discover your ideal career path.</p>
        <a href="/quiz" class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700">Start Quiz</a>
      </div>
      <div class="bg-white p-6 shadow rounded-lg hover:shadow-xl transition">
        <h3 class="text-xl font-semibold mb-2">Explore Colleges</h3>
        <p class="text-gray-600 mb-4">Find top institutions for your field.</p>
        <a href="/colleges" class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700">Browse</a>
      </div>
      <div class="bg-white p-6 shadow rounded-lg hover:shadow-xl transition">
        <h3 class="text-xl font-semibold mb-2">Learning Resources</h3>
        <p class="text-gray-600 mb-4">Grow your skills with curated materials.</p>
        <a href="/resources" class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600">View</a>
      </div>
       <div class="bg-white p-6 shadow rounded-lg hover:shadow-xl transition">
        <h3 class="text-xl font-semibold mb-2">Path Finder</h3>
        <p class="text-gray-600 mb-4">Choose a career path based on your interests.</p>
        <a href="/careerPaths" class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700">Explore Paths</a>
      </div>
       <div class="bg-white p-6 shadow rounded-lg hover:shadow-xl transition">
        <h3 class="text-xl font-semibold mb-2">Post Degree options</h3>
        <p class="text-gray-600 mb-4">Graduation to Career: The Next Step</p>
        <a href="/postDegreeOptions" class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700">Explore</a>
      </div>
    </div>
  </main>

  
  <footer class="mt-auto">
    <%- include("partials/footer") %>
  </footer>
</body>
</html>
